# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# Explicitly declare text files you want to always be normalized
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text
*.scss text
*.html text
*.md text
*.php text
*.sql text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf

# Denote all files that should not have line ending normalization
# and should be left untouched.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.zip binary
*.tar.gz binary
